.sidebar {
    display: flex;
    flex-direction: column;
    gap: 40px;
    border: solid;
    height: 326px;
    border-color: rgb(141, 141, 141);
    border-radius: 20px
  }
  
  .sidebar img {
    width: 60px;
    cursor: pointer;
  }
  
  .sidebar_list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    height: 0;
    transition: 300ms;
    padding-left: initial;
  }
  
  .sidebar_list_active {
    height: 300px;
  }
  
  .sidebar_list_item {
    border-radius: 50%;
    height: 24px;
    width: 24px;
    list-style: none;
  }